@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@400;700&family=Gupter:wght@700&family=Lobster&family=Lora:ital,wght@0,400;0,700;1,500;1,700&family=Old+Standard+TT:wght@700&family=Playfair+Display:wght@800&family=Shippori+Mincho+B1:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700;800;900&family=Cormorant+SC:wght@400;600;700&family=Cormorant+Unicase:wght@400;500;700&family=Cormorant:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Crimson+Text:ital,wght@0,600;0,700;1,400;1,600&family=Gotu&family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,700;1,800&family=Julius+Sans+One&family=La+Belle+Aurore&family=Marcellus+SC&family=Murecho:wght@400;500;700;800&family=Overlock+SC&family=Quicksand:wght@400;500;700&display=swap");
/* 
font-family: 'Julius Sans One', sans-serif;
font-family: 'La Belle Aurore', cursive;
font-family: 'Marcellus SC', serif;
font-family: 'Murecho', sans-serif;
font-family: 'Overlock SC', sans-serif;
font-family: 'Cormorant', serif;
font-family: 'Cormorant SC', serif;
font-family: 'Cormorant Unicase', serif;
font-family: 'Crimson Text', serif;
font-family: 'Gotu', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Jost', sans-serif; */

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-principal: #fcfff5;
  --color-secundario: #659494;
  --color-secundario2: #4a6b6b;
  --color-fondo: #edf3f8;
  --color-boton: #1a2028;
  --color-hover: #97a275;
  --color-azul: #06002e;
  --color-rosa: rgb(194, 89, 106);

  /*   --txt-titulo:'Playfair Display', serif; */
  /* --txt-titulo: "Cormorant Unicase", serif; */
  --txt-titulo: "Cinzel", serif;
  --font-subtitulo: "Julius Sans One", sans-serif;
  --txt-parrafo: "Shippori Mincho B1", serif;
  --txt-decorativo: "Lobster", cursive;

  --titulo-size: 38px;
  --parrafo-size: 16px;
  --subtitulo-size: 20px;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

#slide-phone {
  display: none;
}

#btnUp {
  font-size: 40px;
  color: var(--color-secundario);
  position: fixed;
  right: 1%;
  bottom: 5%;
  display: none;
  transition: all 0.5s;
  z-index: 900;
}

nav {
  /* background-color: var(--color-principal); */
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  /* height: 100px; */
  padding: 25px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.7s;
  z-index: 1000;
}

.menu {
  background-color: var(--color-principal);
}

nav.menu ul li a {
  color: var(--color-azul);
}

.logoPrincipal {
  width: 200px;
}
.logoPrincipal img {
  max-width: 100%;
  object-fit: cover;
}
.menu-list {
  /* display: flex;
  justify-content: space-around;
  width: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.menu-list li {
  text-decoration: none;
  display: inline;
}

.menu-list a {
  /* color: var(--color-azul); */
  color: white;
  text-decoration: none;
  font-size: var(--parrafo-size);
  font-family: var(--txt-titulo);
  font-weight: 500;
}
.menu-list a:hover {
  color: var(--color-secundario2);
}

#barramenu {
  display: none;
}

.menu-phone {
  display: none;
}

/*------------------SECCION TARJETAS------------------------------------------*/

.tarjetas {
  width: 100%;
  /* height: 500px; */
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 30px;
}

.tarjeta {
  width: 250px;
  /* height: 350px; */
  background-color: var(--color-secundario);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 10px 60px 10px;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
}
.tarjeta:hover {
  background-color: var(--color-boton);
  transform: scale(1.06);
  transition: all 0.7s;
}
.tarjeta i {
  font-size: 80px;
}
.tarjeta h1 {
  font-size: var(--subtitulo-size);
  font-weight: 400;
  font-family: var(--txt-decorativo);
}
.tarjeta p {
  font-size: var(--parrafo-size);
  font-family: var(--txt-parrafo);
}

/*-------------FORMULARIO---------------------------------------*/

form {
  width: 50%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

label {
  display: none;
  margin-bottom: 10px;
}

input,
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}

input[type="submit"] {
  width: 80%;
  background-color: var(--color-secundario);
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input:hover[type="submit"] {
  background-color: var(--color-secundario2);
}

/*----------------------MODAL--------------------------------------------------*/

#nodal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.contenido {
  width: 70%;
  height: 500px;
  background-color: white;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  background-image: url(img/fondos/fondo-formulario.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#btncerrar i {
  position: absolute;
  color: var(--color-fondo);
  font-size: 40px;
  top: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
}

.contenido h1 {
  font-size: var(--subtitulo-size);
  font-family: var(--subtitulo-size);
  font-weight: 800;
  color: var(--color-azul);
  width: 400px;
  margin-top: 100px;
}
.contenido p {
  font-size: var(--txt-parrafo);
  font-family: var(--txt-parrafo);
  font-weight: 400;
  color: var(--color-azul);
  width: 400px;
  margin-bottom: 60px;
}

.btnf {
  position: relative;
  width: 30%;
  height: 40px;
  border: 2px var(--color-secundario) solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-secundario);
  border-radius: 5px;
  cursor: pointer;
  display: none;
}

.btnf::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: 3px var(--color-secundario) solid;
  transition: left 0.3s ease-in-out;
  pointer-events: none;
}
.btnf:hover:before {
  top: -3px;
  left: -3px;
}

.btnf a {
  text-decoration: none;
  color: white;
  font-size: var(--txt-parrafo);
  font-family: var(--txt-parrafo);
}

/*---------------------MODAL BOTON-----------------------------------------*/
#nodal2 {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.contenido-buscar {
  width: 400px;
  display: flex;
  align-items: center;
  position: relative;
  /* border: 1px red solid; */
}

#btnserch {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
}

.search-link {
  display: inline-block;
  height: 30px;
  padding: 5px 10px;
  color: black;
  text-decoration: none;
  position: absolute;
  right: 2%;
  top: 20%;
}

/*--------------------SECCION ABOUT------------------------------*/

.sec-about-1 {
  width: 100%;
  height: 800px;
  background-color: var(--color-fondo);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.sec-about-artic {
  width: 50%;
  height: 450px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.artic {
  display: flex;
  width: 45%;
  /* height: 90%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.imagen-artic {
  width: 140px;
  height: 140px;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  filter: brightness(80%);
}

.imagen-artic img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
  filter: brightness(90%);
}
.imagen-artic:hover img {
  transform: scale(1.2);
  filter: brightness(100%);
}
.artic h1 {
  font-size: var(--subtitulo-size);
  font-family: var(--txt-titulo);
  font-weight: 800;
  color: var(--color-azul);
}
.artic p {
  font-size: var(--parrafo-size);
  font-family: var(--txt-parrafo);
  font-weight: 400;
  color: var(--color-secundario2);
}
.iconos-artic {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.iconos-artic i {
  font-size: 25px;
  color: var(--color-secundario2);
  cursor: pointer;
}
.iconos-artic i:hover {
  color: var(--color-rosa);
}
#artic1 {
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#artic2 {
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.sec-about-artic2 {
  width: 40%;
  height: 90%;
}
.imagen-artic2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.imagen-artic2 img {
  width: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
  filter: brightness(80%);
}
.imagen-artic2 img:hover {
  transform: scale(1.1);
  filter: brightness(100%);
}
#icon-about {
  max-width: 400px;
  position: absolute;
  right: 2%;
  bottom: -5%;
}
#icon-about img {
  width: 100%;
  object-fit: cover;
}

#icon-about2 {
  max-width: 90%;
  position: absolute;
  top: 0;
  left: 0;
}
#icon-about2 img {
  width: 100%;
  object-fit: cover;
}

/*---------------DIVISOR DE SECCIONES-------------------------------------------------------*/

.div-fancy {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.texto-div-fancy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.div-fancy p {
  font-size: 26px;
  font-family: var(--txt-decorativo);
  color: var(--color-secundario);
  font-weight: 400;
}
.div-fancy h1 {
  font-size: var(--titulo-size);
  font-family: var(--txt-titulo);
  color: var(--color-azul);
  font-weight: 800;
}
.div-fancy h2 {
  font-size: var(--titulo-size);
  font-family: var(--txt-titulo);
  color: var(--color-rosa);
  font-weight: bold;
}

#img-div-fancy {
  width: 200px;
  position: absolute;
  top: 40%;
  left: 41%;
  transform: rotate(-50deg);
}
#img-div-fancy img {
  width: 100%;
  object-fit: cover;
}
#img-div-fancy2 {
  width: 300px;
}
#img-div-fancy2 img {
  width: 100%;
  object-fit: cover;
}
.artic-footer i {
  font-size: var(--subtitulo-size);
}

/*---------------FANCY BOX-------------------------------------------------------*/
#galeria {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.fancybox {
  position: relative;
}
.fancybox .fondo-opaco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Evita que el fondo opaco bloquee los eventos del contenido */
}

.fancybox:hover .fondo-opaco {
  opacity: 0.5;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    9% 100%,
    9% 9%,
    91% 9%,
    91% 90%,
    7% 90%,
    0 100%,
    100% 100%,
    100% 0%
  );
}

#galeria img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

#galeria a {
  margin: 15px;
  filter: brightness(60%);
  transition: all 1s;
}

#galeria a:hover {
  margin: 15px;
  filter: brightness(100%);
}

/*---------------------VIDEO-------------------------------------------------*/
#video-2 {
  background-image: url(img/shop/ramo3.jpg);
}
#video-3 {
  background-image: url(img/fondos/fondo-copas.jpg);
}

.sec-video {
  min-height: 500px;
  background-image: url(img/places/foto5.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  filter: brightness(60%);
}
#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#openModal i {
  font-size: 50px;
  color: var(--color-rosa);
}
#openModal i:hover {
  color: var(--color-principal);
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 1000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  /* transform: translate(-50%, 0); */
}

.modal-content {
  position: relative;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  /* width: 80%;
  max-width: 600px; */
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  /* height: 60%; */
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.close-modal {
  font-size: 30px;
  color: var(--color-secundario);
}

iframe {
  display: block;
  width: 100%;
  height: 330px;
}

/*---------------------SECCIONES FOTOS---------------------------------------------------*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  /* display: none; */
}

.rslides2 {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
  /* display: none; */
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  height: 500px;
  object-fit: cover;
  filter: brightness(30%);
}

.sec-fotos {
  position: relative;
}
.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.info h1 {
  font-size: var(--titulo-size);
  font-family: var(--txt-titulo);
  font-weight: 800;
  color: var(--color-principal);
}
#icon-sec-fotos {
  width: 50%;
  position: absolute;
  bottom: -15%;
  left: 27%;
  z-index: 10;
}
#icon-sec-fotos img {
  width: 100%;
  object-fit: cover;
}

/*------------------ACORDEON---------------------------------------------------------*/

.contacto-form {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  /* border: 2px red solid; */
  /* flex-wrap: wrap; */
  margin-top: 30px;
  margin-bottom: 50px;
}

.sec1 {
  width: 50%;
  /* height: 500px; */
  /*  border: 1px blue solid; */
}
.acordeon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ask h2 {
  font-size: var(--txt-titulo);
  font-family: 30px;
  width: 100%;
  height: 90px;
  color: #333;
  font-weight: 400;
  /*  border: 1px red solid; */
  border-bottom: 1px #f5f6fa solid;
}
.acordeon_titulo {
  color: #333;
  border-bottom: 1px #f5f6fa solid;
  padding: 10px;
  height: 100px;
  margin: 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.acordeon_contenido {
  width: 90%;
  display: none;
  flex-direction: row;
  font-size: 20px;
  margin-right: 10px;
  color: #949494;
  /* height: 100px; */
  line-height: 34px;
  position: relative;
  background-color: var(--color-fondo);
  padding: 20px;
}
.acordeon_contenido i {
  position: absolute;
  left: 5%;
  bottom: 30%;
  font-size: 30px;
}

.acordeon_titulo h2 {
  font-weight: 400;
  font-size: 26px;
  width: 90%;
  height: 100%;
  line-height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.iconos {
  position: relative;
  padding: 0;
  width: 15px;
  height: 15px;
}
.iconos i {
  padding: 3px;
  background: var(--color-secundario);
  color: white;
  border-radius: 5px;
}

.mas1,
.mas2,
.mas3,
.mas4 {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  transition: all 0.3s;
}
.menos1,
.menos2,
.menos3,
.menos4 {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
}
.desaparecer {
  opacity: 0;
}
.text {
  color: var(--color-secundario);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* padding: 20px; */
  text-align: center;
  height: 100%;
  border-left: 3px var(--color-secundario2) solid;
}
.form h1 {
  font-size: var(--subtitulo-size);
  font-family: var(--txt-decorativo);
  font-weight: 400;
  color: var(--color-rosa);
}
.form p {
  font-size: var(--parrafo-size);
  font-family: var(--txt-parrafo);
  font-weight: 400;
  color: var(--color-azul);
  width: 80%;
  text-align: start;
  padding-left: 50px;
}

.form-contacto {
  width: 90%;
}
.fondo-form {
  width: 90%;
  padding: 20px;
  background-color: var(--color-fondo);
}
.acordeon_contenido {
  height: 150px;
}

/*-----------------------FOOTER---------------------------------------------*/
footer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: var(--txt-titulo);
  color: var(--color-secundario2);
  background-color: var(--color-fondo);
  padding: 30px;
}
.artic-footer {
  width: 40%;
  height: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
}
.artic-footer p {
  font-size: var(--subtitulo-size);
  color: var(--color-secundario2);
}
.img-footer {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-footer img {
  width: 100%;
  object-fit: cover;
}

.artic-footer a {
  width: 100%;

  text-decoration: none;
  color: var(--color-secundario2);
}
.artic-footer a:hover {
  text-decoration: none;
  color: var(--color-boton);
}

.div-footer {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.div-footer h1,
h2 {
  font-size: 30px;
  color: var(--color-secundario2);
}

.div-footer a {
  text-decoration: none;
  font-size: var(--subtitulo-size);
  color: var(--color-secundario2);
}
.div-footer a:hover {
  text-decoration: none;
  font-size: var(--subtitulo-size);
  color: var(--color-rosa);
}

.parte-div {
  height: 60px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--txt-titulo);
  font-size: var(--parrafo-size);
  color: var(--color-fondo);
  background: rgb(74, 107, 107);
  background: linear-gradient(
    90deg,
    rgba(74, 107, 107, 1) 13%,
    rgba(101, 148, 148, 1) 100%
  );
}

.iconos-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-size: 40px;
  color: var(--color-fondo);
}
.iconos-footer i {
  width: 30%;
  font-size: 30px;
  color: var(--color-fondo);
  cursor: pointer;
  transition: all 0.5s;
}
.iconos-footer i:hover {
  width: 30%;
  transform: scale(1.1);
  color: var(--color-boton);
}

/*-------------------SECCION SERVICIOS.------------------------------------------------------*/

.servicios {
  width: 100%;
  /* height: 500px; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.img-servicios {
  width: 100%;
  /* height: 100%; */

  position: relative;
}
.img-servicios img {
  width: 100%;
  /* height: 70%; */
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}
.img-servicios img:hover {
  transform: scale(1.2);
}

.div-servicios {
  width: 80%;
  height: 57%;
  padding: 40px;
  gap: 10px;
  margin: auto;
  background-color: white;
  position: absolute;
  top: 85%;
  left: 50%;

  /*  border: 3px #97A275 solid; */
  transform: translate(-50%, -50%);
}
.div-servicios a {
  text-decoration: none;
  color: var(--color-boton);
}
.div-servicios a:hover {
  text-decoration: none;
  color: var(--color-secundario2);
}
.div-servicios h1 {
  font-size: var(--subtitulo-size);
  font-family: var(--txt-decorativo);
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--color-azul);
}
.div-servicios p {
  font-size: var(--parrafo-size);
  font-family: var(--txt-titulo);
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--color-secundario2);
}
.icon-servicios {
  position: absolute;
  background-color: white;
  width: 120px;
  height: 120px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.icon-servicios i {
  font-size: 30px;
  color: var(--color-secundario2);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*--------------------TARJETAS CARRUSEL------------------------------------------------*/

/*-------TARJETAS CARR. SHOP-----*/

.carru {
  padding: 50px 50px 0 50px;
  height: 600px;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 30px;
  clear: both;
  margin: auto;
}

.cont {
  width: 250px;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.cont .flecha {
  font-size: 20px;
}

.cont .botones {
  display: flex;
  gap: 5px;
  width: 60%;
  justify-content: center;
  align-content: center;
}

.cont .buttons {
  border: 5px solid var(--color-secundario2);
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 12px 12px;
  color: var(--color-boton);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -10px;
}

.cont .next {
  right: 0;
  left: auto;
  top: 48%;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.cont .prev {
  right: 0;
  left: auto;
  top: 48%;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.cont .buttons:hover {
  color: var(--color-secundario2);
}

#viewport-index {
  height: 95%;
  padding-top: 50px;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.carru .disable {
  visibility: hidden;
}

#overview-index {
  list-style: none;
  position: absolute;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  width: 100%;
  left: 0;
  top: 0;
  height: 450px;
}

#overview-index li {
  float: left;
  margin: 0 20px 0 0;
  padding: 1px;
  height: 70%;
  max-width: 270px;
  text-align: center;
  transition: all 0.5s;
}

.img-tarjeta-index {
  width: 280px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.img-tarjeta-index img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}
.img-tarjeta-index img:hover {
  transform: scale(1.2);
}

.div-index {
  width: 80%;
  height: 50%;
  padding: 40px;
  gap: 10px;
  margin: auto;
  background-color: white;
  position: absolute;
  top: 81%;
  left: 50%;
  /*  border: 3px #97A275 solid; */
  transform: translate(-50%, -50%);
}
.div-index a {
  text-decoration: none;
  color: var(--color-boton);
}
.div-index a:hover {
  text-decoration: none;
  color: var(--color-secundario2);
}
.div-index h1 {
  font-size: var(--subtitulo-size);
  font-family: var(--txt-decorativo);
  font-weight: 400;
  margin-bottom: 10px;
  color: var(--color-azul);
}
.div-index p {
  font-size: var(--parrafo-size);
  font-family: var(--txt-titulo);
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--color-secundario2);
}
.icon-index {
  position: absolute;
  background-color: white;
  width: 50px;
  height: 50px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: circle(50% at 50% 50%);
}
.icon-index i {
  font-size: 30px;
  color: var(--color-secundario2);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*-------TARJETAS CARR. INDEX-----*/

.carru-prin {
  padding: 50px 50px 0 50px;
  height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  gap: 30px;
  clear: both;
  margin: auto;
}

#viewport-prin {
  height: 95%;
  padding-top: 50px;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
}

.carru .disable {
  visibility: hidden;
}

.overview {
  width: 100%;
}

#overview-prin {
  list-style: none;
  position: absolute;
  padding: 0;
  padding-top: 20px;
  margin: 0;
  width: 100%;
  left: 0;
  top: 0;
  height: 450px;
}

#overview-prin li {
  float: left;
  margin: 0 20px 0 0;
  padding: 1px;
  height: 70%;
  max-width: 270px;
  text-align: center;
  transition: all 0.5s;
}

.img-tarjeta-prin {
  width: 280px;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.img-tarjeta-prin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}
.img-tarjeta-prin img:hover {
  transform: scale(1.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay i {
  color: #fff;
  font-size: 48px;
}

.img-tarjeta-prin:hover .overlay {
  opacity: 1;
}

/*-----------------SECCION PRODUCTOS---------------------------------------------------------*/

.productos {
  width: 100%;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.img-productos {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  /* border: 1px red solid; */
}
.img-productos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s;
}
.img-productos img:hover {
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transform: scale(1.2);
}

.div-productos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  /* height: 50%; */
  padding: 10px;
  gap: 5px;
  margin: auto;
  background-color: white;
  position: absolute;
  top: 85%;
  left: 50%;
  /*  border: 3px #97A275 solid; */
  transform: translate(-50%, -50%);
}
.div-productos a {
  text-decoration: none;
  font-family: var(--txt-decorativo);
  font-size: var(--subtitulo-size);
  color: var(--color-secundario2);
}
.div-productos a:hover {
  color: #659494;
}

.div-productos i {
  color: gold;
}

.div-productos p {
  font-size: var(--subtitulo-size);
  font-family: var(--txt-titulo);
  font-weight: 800;
  margin-bottom: 10px;
  color: var(--color-secundario2);
}

#oferta {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #4a6b6b;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.fondo-img-producto {
  background-color: rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#icon-1 {
  position: absolute;
  top: 10%;
  left: 20%;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
#icon-1:hover {
  color: var(--color-hover);
}
#icon-2 {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
#icon-2:hover {
  color: var(--color-hover);
}

/* -------RESPONSIVESLIDE TEXTO--------------------------------------- */

/* responsiveslide css */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}

.rslides2 {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

/* ancho de la imagen */
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

/*  fin */

.callbacks_container {
  position: relative;
  margin: auto;
  /* border: 1px red solid; */
}

/* alto de la imagen */
.callbacks_container img {
  height: 700px;
  object-fit: cover;
}
.callbacks_container ul {
  margin: 0px;
}

/* texto en la imagen */
.caption {
  /* poner un flex column */
  position: absolute;
  z-index: 2;
  text-align: center;
  /* font-size: 30px; */
  text-shadow: 0px 0px 10px #333;
  color: #fff;
  /* left: 50%; */
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 50%;
  /* border: 1px blue solid; */
}

.caption h1 {
  font-size: var();
  font-family: var();
  color: var();
  font-weight: 700;
}

.caption p {
  font-size: var();
  font-family: var();
  color: var();
}

#boton-slide {
  background-color: var();
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
#boton-slide:hover {
  background-color: var();
  transform: scale(1.1);
}
.callbacks_nav {
  position: absolute;
  top: 52%;
  left: 10%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 50px;
  width: 50px;
  background: transparent url("imagenes/flechas.png") no-repeat left top;
  margin-top: -45px;
  /* border: 1px white solid; */
}
.flecha-slide-left {
  position: absolute;
  top: 52%;
  left: 10%;
  opacity: 0.7;
  z-index: 3;
  /* text-indent: -9999px; */
  text-decoration: none;
  height: 50px;
  width: 30px;
  font-size: 40px;
  margin-top: -45px;
  color: white;
}
.flecha-slide-right {
  position: absolute;
  top: 52%;
  left: 90%;
  opacity: 0.7;
  z-index: 3;
  /* text-indent: -9999px; */
  text-decoration: none;
  height: 50px;
  width: 30px;
  font-size: 40px;
  margin-top: -45px;
  color: white;
}
.callbacks_nav.next {
  left: 90%;
  top: 52%;
  /* border: 1px white solid; */
}

/* .png-titulo {
  z-index: 1000;
  position: absolute;
  right: 22%;
  bottom: 25%;
  display: none;
} */

.png-titulo {
  z-index: 1000;
  position: absolute;
  right: 22%;
  /* bottom: 25%; */
  bottom: 14%;
  display: none;
}

.png-titulo {
  width: 150px;
  height: 230px;
  /* border: 1px solid blue; */
}
.png-titulo img {
  width: 140%;
  height: 140%;
  object-fit: cover;
  filter: brightness(70%);
  /* transform: rotate(270deg); */
}

.png2-titulo {
  z-index: 1000;
  position: absolute;
  left: 20%;
  top: 25%;
  display: none;
}
.png2-titulo {
  width: 100px;
  height: 100px;
  /* border: 1px solid blue; */
}
.png2-titulo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-280deg);
}

/* -----CARRUSEL 2 (SERIVICOS)---------------------------- */
.sec-1 {
}

.contenedor {
  /* padding: 100px;
  border: 1px blue solid; */
}

.btn-card {
  background-color: var(--color-secundario);
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-family: var();
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-card:hover {
  background-color: var();
  transform: scale(1.1);
}

/* PESTAÑAS------------------------------- */

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  padding: 50px;
  margin-top: 20px;
}

.titulo h1 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.titulo p {
  font-size: var(--subtitulo-size);
  color: var(--color-neon);
}

.sec-ul {
  margin-bottom: 30px;
}

.sec-ul ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  /* height: 50px;
       border: 2px #333 solid;
       display: flex;
       justify-content: center;
       align-items: center; */
}
.sec-ul ul li {
  /* display: inline;
       background-color: red;
       margin-bottom: 5px; */
  padding: 10px;
  border-radius: 5px;
  /* border: 1px red solid; */
}

.sec-ul ul li:hover {
  background-color: #333;
}
.sec-ul ul li:hover a {
  color: white;
}
.sec-ul ul li a {
  display: inline-block;
  text-decoration: none;
  font-family: var();
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.tabs_contenedor-t1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  /* border: 1px red solid; */
}

.tabs_contenido-t1 {
  width: 380px;
  position: relative;
  overflow: hidden;

  /* border: 1px solid blue; */
}
.tabs_contenido-t1 img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.size {
  width: 800px;
  height: 250px;
  /* border: 1px solid blue; */
}
.size img {
  width: 100%;
  object-fit: cover;
}

.fondo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  /* background-color: rgba(5, 166, 241, 0.6); */
  background-color: rgb(101, 148, 148, 0.6);
  /* top: 100%;
  left: 100%; */
  color: white;
  text-align: center;
  transition: all 0.5s;
  z-index: 1000;
}

.tabs_contenido-t1:hover .fondo {
  z-index: 1000;
  top: 0;
  left: 0;
}

.fondo a {
  color: white;
  font-size: 40px;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  /* border: 1px red solid; */
}
.btn-footer {
  background: rgb(74, 107, 107);
  background: linear-gradient(
    90deg,
    rgba(74, 107, 107, 1) 13%,
    rgba(101, 148, 148, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* width: 230px; */
  padding: 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.7s;
}
.btn-footer:hover {
  background-color: var();
  transform: scale(1.1);
}

html ul.tabs-t1 li.active,
html ul.tabs-t1 li.active a:hover {
  background: var(--color-secundario2);
}

html ul.tabs-t1 li.active a {
  color: white;
}
