/*----------------------PHONE------------------------------------------*/

@media screen and (max-width: 480px) {
  #slide-phone {
    display: block;
    margin-top: 50px;
  }
  #slider1 {
    display: none;
  }
  #info-boda-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 38px;
    width: 70%;
    height: 100%;
    text-align: center;
    /* border: 1px white solid; */
  }

  .rslides {
    width: 100%;
    height: 600px;
  }

  .rslides img {
    width: 100%;
    height: 600px;
  }
  /* .info {
    top: 50%;
    left: 50%;
  } */

  .menu-list {
    display: none;
  }

  #barramenu {
    display: block;
    margin-right: 10px;
    font-size: 50px;
    cursor: pointer;
  }
  #barramenu:hover {
    color: var(--color-secundario2);
  }
  .logoPrincipal {
    width: 180px;
    margin-left: 5px;
  }

  #slider1 {
    width: 390px;
  }

  #slider1 .overview li {
    float: left;
    width: 390px;
    height: auto;
    margin: auto;
    border: 1px solid #dcdcdc;
    position: relative;
    margin: auto;
  }

  #slider1 .overview li img {
    width: 80%;
    object-fit: cover;
    height: 200px;
    filter: brightness(50%);
    display: block;
  }

  .articulo-presentacion {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: transparent;
    padding: 0;
  }
  .articulo-presentacion h1 {
    width: 90%;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
  }

  .articulo-presentacion h2 {
    width: 80%;
    margin-bottom: 20px;
    display: none;
  }

  .articulo-presentacion p {
    width: 75%;
    margin-bottom: 20px;
  }

  .png-titulo {
    display: none;
  }

  .png2-titulo {
    display: none;
  }

  .boton-presentacion1 {
    width: 100px;
    height: 35px;
    display: none;
  }

  .boton-presentacion2 {
    width: 100px;
    height: 35px;
    display: none;
  }

  /*-------------------MENU PHONE-----------------------------*/

  .menu-phone {
    background-color: var(--color-secundario2);
    /* height: 120px; */
    padding: 20px;
    /* margin-top: 100px; */
  }

  #cajamenu {
    width: 100%;
    /*  padding: 25px; */
    text-align: start;
    position: fixed;
    top: 90px; /* Ajusta la posición superior según sea necesario */
    left: 0;
    z-index: 100;
  }

  #cajamenu ul {
    list-style-type: none;
  }

  #cajamenu ul li {
    border-bottom: 1px white dashed;
    width: 100%;
  }

  #cajamenu ul li:hover {
    background-color: rgba(41, 41, 41, 0.7);
  }

  #cajamenu ul li a {
    color: white;
    /* border: 1px white solid; */
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    display: block;
  }

  /*------------------SECCION TARJETAS---------------------------------------*/

  .tarjetas {
    width: 400px;
    gap: 30px;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .tarjeta {
    width: 80%;
    gap: 30px;
    padding: 60px 30px 60px 30px;
  }
  .tarjeta:hover {
    background-color: var(--color-boton);
    transform: scale(1.06);
    transition: all 0.7s;
  }

  /*------------MODAL-----------------------------------------------------------*/
  .contenido {
    width: 85%;

    text-align: center;
  }

  form {
    width: 80%;
  }
  #btncerrar i {
    font-size: 30px;
  }

  /*-----------Boton aariba---------------------------------*/

  #btnUp {
    font-size: 20px;
  }

  /*-----------------ABAOUT------------------------------------------*/
  .sec-about-1 {
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-about-artic {
    width: 100%;
    height: 1200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .artic {
    display: flex;
    width: 80%;
    height: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  #artic1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #artic2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sec-about-artic2 {
    width: 100%;
    height: 300px;
  }
  .imagen-artic2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #icon-about {
    max-width: 200px;
    position: absolute;
    right: 20%;
    bottom: -6%;
  }
  #icon-about2 {
    max-width: 100%;
  }

  /*----------------------DIVISION DE SECCION-------------------------------------------------------*/

  .div-fancy {
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
  }

  .texto-div-fancy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  #img-div-fancy {
    width: 600px;
    transform: rotate(310deg);
    position: absolute;
    bottom: -45%;
    left: -25%;
  }
  #img-div-fancy2 {
    display: none;
  }

  /*-----------------------FANCY BOX-------------------------------------------------------------*/

  .fancybox {
    /* display: none; */
  }

  .visible {
    display: block;
  }

  #galeria img {
    width: 420px;
    height: 350px;
    object-fit: cover;
  }

  /*-----------------VIDEO--------------------------------------------------*/

  .video-responsive {
    width: 330px;
    margin: 0 auto;
    /* border: 2px red solid; */
  }
  .modal-content {
    width: 90%;
    max-width: 800px;
    height: 240px;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
  }
  iframe {
    display: block;
    width: 100%;
    height: 200px;
  }
  .sec-video {
    min-height: 500px;
    background-position: center;
  }

  /*------------------SECCIONES FOTOS-------------------------------------------------------*/

  #icon-sec-fotos {
    display: none;
  }

  /*-----index-----*/

  .img-tarjeta-prin {
    width: 270px;
    /* height: 300px; */
    overflow: hidden;
    position: relative;
    display: inline-block;
  }
  .img-tarjeta-prin img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s;
  }

  .overlay {
    opacity: 1;
  }

  /*-----------------------CONTACTO FORM--------------------------------------------------------*/
  .contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px red solid; */
  }
  .sec1 {
    width: 80%;
    height: 600px;
    /*  border: 1px blue solid; */
  }

  /*-------------------FOOTER----------------------------------------------------------*/

  footer {
    height: 2000px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .artic-footer {
    width: 80%;
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
  }

  .div-footer {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .iconos-footer i {
    width: 50%;
    font-size: 20px;
    color: var(--color-fondo);
    cursor: pointer;
  }
  .iconos-footer i:hover {
    font-size: 20px;
    color: var(--color-boton);
  }

  /*------------SECCION SERVICIOS-------------------------------------*/

  .servicios {
    width: 100%;
    height: 1500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  /*-----------------------Seccion Productos----------------------------------------*/

  .productos {
    width: 100%;
    height: 1200px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  /* -------RESPONSIVESLIDE TEXTO--------------------------------------- */
  /* texto en la imagen */
  .caption {
    width: 80%;
    height: 50%;
    /* border: 1px blue solid; */
  }
  .caption h1 {
    font-size: 30px;
  }
  .caption p {
    font-size: var(--size-texto);
    width: 90%;
  }
  .callbacks_nav {
    top: 52%;
    left: 0;
    /* border: 2px blue solid;  */
  }
  .flecha-slide-left {
    top: 52%;
    left: 2%;
    /* border: 2px red solid; */
  }
  .flecha-slide-right {
    top: 52%;
    right: 0;
    /* border: 2px red solid; */
  }
  .callbacks_nav.next {
    right: 0;
    top: 52%;
    /* border: 2px blue solid; */
  }

  /* PESTAÑAS------------------------------- */
  .titulo p {
    display: none;
  }

  .size {
    width: 380px;
    height: 250px;
    /* border: 1px solid blue; */
  }
}
